.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
}

.response {
  width: 600px;
  height: 150px;
  background-color: rgb(7, 7, 122);
  border-radius: 4px;
}