.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70vh;
}

.response {
  width: 600px;
  height: 120px;
  /* background-color: #6d6d8f; */
  border-radius: 4px;
  color: rgb(8, 9, 9);
  font-weight: 800;
  margin: 7px;
  padding: 5px;
}

#generate {
  background-color: rgb(255, 1, 1);
  width: 100px;
  height: 40px;
  margin: 4px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 900;
  border-radius: 5px;
}

#psych-name {
  color: red;
}