.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    height: 150px;
    width: 250px;
    box-shadow: 3px 3px;
    border-radius: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: red;
    font-size: 16px;
    cursor: pointer;
}

.text {
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: rgb(183, 171, 7);
}

.black {
    background-color: rgb(47, 47, 47);
}
.grey {
    background-color: gray;
}
.brown {
    background-color: brown;
} 
.yellow {
    background-color: rgb(203, 203, 7);
}
.green {
    background-color: rgb(34, 208, 7);
} 
.indigo {
    background-color: indigo;
}
.violet {
    background-color: rgb(220, 6, 220);
}
